<nav>
  <a routerLink="/" class="logo">Deal<span>Quest</span></a>
  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/deals" routerLinkActive="active">Deals</a>
    <a routerLink="/wishlist" routerLinkActive="active">Wishlist</a>
    <a routerLink="/login" class="btn btn-ghost" style="margin-left:8px">Sign In</a>
    <a routerLink="/register" class="btn btn-primary" style="margin-left:6px">Sign Up</a>
  </div>
</nav>
